flows.json
[
    {
        "id": "2eb7deb465730f27",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5e0db1653d5f4d1b",
        "type": "ui_gauge",
        "z": "2eb7deb465730f27",
        "name": "",
        "group": "a7112af3be93f912",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "조절장치",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "255",
        "colors": [
            "#01fafe",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "cdcd541682b70d0b",
        "type": "debug",
        "z": "2eb7deb465730f27",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 440,
        "wires": []
    },
    {
        "id": "302ba8afa36a179e",
        "type": "mqtt out",
        "z": "2eb7deb465730f27",
        "name": "",
        "topic": "RCCAR",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "94232d29a567e489",
        "x": 540,
        "y": 560,
        "wires": []
    },
    {
        "id": "add9a585052f78fa",
        "type": "ui_button",
        "z": "2eb7deb465730f27",
        "name": "",
        "group": "a7112af3be93f912",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": true,
        "label": "정지",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "RCCAR",
        "topicType": "msg",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "cdcd541682b70d0b",
                "e08fc5c0eea72123",
                "302ba8afa36a179e"
            ]
        ]
    },
    {
        "id": "6b54ea88195643dd",
        "type": "ui_joystick",
        "z": "2eb7deb465730f27",
        "name": "조이스틱",
        "group": "a7112af3be93f912",
        "order": 3,
        "width": 5,
        "height": 5,
        "trigger": "all",
        "timeInterval": "300",
        "useThemeColor": true,
        "color": "#000000",
        "threshold": "0.1",
        "directions": "all",
        "shape": "circle",
        "centerAtRelease": true,
        "x": 80,
        "y": 440,
        "wires": [
            [
                "221e7026d759a3bf"
            ]
        ]
    },
    {
        "id": "221e7026d759a3bf",
        "type": "function",
        "z": "2eb7deb465730f27",
        "name": "function 1",
        "func": "if(msg.topic==\"move\"){\n    msg.payload = msg.payload.vector \n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 440,
        "wires": [
            [
                "e08fc5c0eea72123",
                "302ba8afa36a179e"
            ]
        ]
    },
    {
        "id": "e08fc5c0eea72123",
        "type": "function",
        "z": "2eb7deb465730f27",
        "name": "function 2",
        "func": "if (msg.payload == \"stop\"){\n    msg.payload = {\n        value: 0\n    };\n    return msg.payload;\n}\n\n\nconst MIN_SPEED = 60\nconst MAX_SPEED = 255\nconst DEADZONE = 0.15\nconst x = msg.payload.x;\nconst y = msg.payload.y;\nmsg.payload = {\n    value: 0\n};\n// 데드존 체크\nif (Math.abs(x) < DEADZONE && Math.abs(y) < DEADZONE) {\n    return msg.payload;\n}\n\n// 속도 제어 (y축)\nif (Math.abs(y) > DEADZONE) {\n    let speed_value = parseInt(Math.abs(y) * (MAX_SPEED - MIN_SPEED) + MIN_SPEED);\n    speed_value = Math.min(speed_value, MAX_SPEED);\n    msg.payload = {\n        value: speed_value\n    };\n}\n\nreturn msg.payload;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 400,
        "wires": [
            [
                "5e0db1653d5f4d1b",
                "cdcd541682b70d0b"
            ]
        ]
    },
    {
        "id": "fe8f95a3638595a0",
        "type": "ui_spacer",
        "z": "2eb7deb465730f27",
        "name": "spacer",
        "group": "a7112af3be93f912",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "a99b9580ea401620",
        "type": "ui_spacer",
        "z": "2eb7deb465730f27",
        "name": "spacer",
        "group": "a7112af3be93f912",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "6ceaaae4f6a04306",
        "type": "ui_spacer",
        "z": "2eb7deb465730f27",
        "name": "spacer",
        "group": "a7112af3be93f912",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "667f7e3cefaffc53",
        "type": "ui_spacer",
        "z": "2eb7deb465730f27",
        "name": "spacer",
        "group": "a7112af3be93f912",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "a7112af3be93f912",
        "type": "ui_group",
        "name": "RC CAR",
        "tab": "385183edbe5e0590",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "94232d29a567e489",
        "type": "mqtt-broker",
        "name": "데이터 전송",
        "broker": "70.12.107.175",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "385183edbe5e0590",
        "type": "ui_tab",
        "name": "Myroom",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]